@model List<Order>
@{
    ViewBag.Title = "Tra cứu đơn hàng";
    var info = System.Globalization.CultureInfo.GetCultureInfo("vi-VN");
}

<h4 class=" text-success">Lịch sử mua hàng</h4>
<br />
@if (Model.Count > 0)
{
    @foreach (var item in Model)
    {
<div class="col-8 ">
    <h3 class=" text-danger">Xem chi tiết đơn hàng</h3>
    <p><b>Mã đơn hàng</b>: @item.OrderId</p>
    <p><b>Tên khách hàng</b>: @item.Fullname</p>
    <p><b>Địa chỉ giao hàng</b>: @item.Adress, @item.PhuongXa.TenDayDu, @item.PhuongXa.QuanHuyen.TenDayDu, @item.PhuongXa.QuanHuyen.TinhThanh.TenDayDu</p>
    <p><b>Số điện thoại</b>: @item.SoDienThoai</p>
    <p><b>Sản phẩm đặt mua</b>: @item.ProductName</p>
    <p><b>Giá sản phẩm</b>: @String.Format(info, "{0:#,##0 đ}", item.ProductPrice)</p>
    <p><b>Số lượng đặt mua</b>: @item.Soluong</p>
    <p><b>Thời điểm đặt hàng</b>: @item.ThoiDiemDatHang.ToString("dd-MM-yyyy  hh:mm:ss")</p>
    <p><b>Hình thức thanh toán</b>: @item.PurchaseForm</p>
    <p><b>Tổng tiền thanh toán</b>: @String.Format(info, "{0:#,##0 đ}", item.Total)</p>
    <p><b>Trạng thái</b>: @item.State.StateName</p>
    <p>@item.Note</p>

</div>
        <hr />
    }
}
else
{
    <p style=" font-size:30px">Bạn chưa có đơn hàng nào</p>
}

<div class="row">

    <a asp-controller="Home" asp-action="Show" class="col-4 btn btn-success btn-lg btn-block my-3 mx-auto">Trở về</a>

</div>