@model List<Brand>

@{
    ViewBag.Title = "Danh sách các thương hiệu sản phẩm";
}

<h4>Danh sách các thương hiệu sản phẩm</h4>

<a asp-controller="Brand" asp-action="Create" class=" btn btn-info">Thêm mới</a>
<br />
<table id="dataTable" class=" table table-bordered table-hover mt-3">
    <thead class=" thead-light">
        <tr>
            <th>Mã</th>
            <th>Tên thương hiệu</th>
            <th>Thao tác</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {

            <tr>
                <td>@item.BrandId</td>
                <td>@item.BrandName</td>
                <td>
                    <a asp-controller="Brand" asp-action="Edit" asp-route-id="@item.BrandId"><i class="fa fa-trash" aria-hidden="true"></i></a>
                    <button type="button" class="btn btn-outline-danger" data-toggle="modal" data-target="#@item.BrandName">
                        Delete
                    </button>
                    <div class="modal" id="@item.BrandName">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header ">
                                    <h2 class="modal-title" style="margin: auto;color: red">Xóa thương hiệu</h2>
                                </div>
                                <div class="modal-body">
                                    <h6> Are you sure you want to delete Role "@item.BrandName" ?</h6>
                                </div>
                                <div class="modal-footer">
                                    <a asp-controller="Brand" asp-action="Delete" asp-route-id="@item.BrandId" class="btn btn-danger">Yes</a>
                                    <button type="button" class="btn btn-info" data-dismiss="modal">No</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
                
            </tr>


        }

    </tbody>
</table>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#dataTable').dataTable(
                //{
                //    "columnDefs": [
                //        {
                //            "targets": 0,
                //            "orderable": false
                //        },

                //    ]
                //}
            );
        });
    </script>
}