@model List<Product>
@{ 
    ViewBag.Title = "tìm kiếm sản phẩm";
    const int fanId = 1;
    const int bottleId = 3;
    const int filterId = 2;
    var info = System.Globalization.CultureInfo.GetCultureInfo("vi-VN");
}
<div>
    @if (Model.Count > 0)
    {
        <div class="row ">
            <div class="col-10 bg-white">
                @*<h2>Quạt hơi nước</h2>*@

                <div class=" row">
                    @foreach (var steam in Model)
                    {
                        if (steam.CategoryId == fanId)
                        {

                            <div class=" col-sm-3">

                                <div class=" card my-3 text-center">
                                    <a asp-controller="Home" asp-action="Detail" asp-route-id="@steam.ProductId">
                                        <div class=" card">
                                            <div class=" card-header">
                                                <h6>@steam.ProductName</h6>
                                            </div>
                                            <img src="@Url.Content("~/images/"+ steam.Images.First().ImageName)" class="card-img-top" alt="Alternate Text" height="225" asp-append-version="true" />
                                            <div class=" card-footer">
                                                <h5 style="color: red">@String.Format(info, "{0:#,##0 đ}", steam.ProductPrice)</h5>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>

                        }


                    }
                </div>
                <br />
                @*<h2>Lọc nước</h2>*@

                <div class=" row">
                    @foreach (var steam in Model)
                    {
                        if (steam.CategoryId == filterId)
                        {

                            <div class=" col-sm-3">

                                <div class=" card my-3 text-center">
                                    <a asp-controller="Home" asp-action="Detail" asp-route-id="@steam.ProductId">
                                        <div class=" card">
                                            <div class=" card-header">
                                                <h6>@steam.ProductName</h6>
                                            </div>
                                            <img src="@Url.Content("~/images/"+ steam.Images.First().ImageName)" class="card-img-top" alt="Alternate Text" height="225" asp-append-version="true" />
                                            <div class=" card-footer">
                                                <h5 style="color: red">@String.Format(info, "{0:#,##0 đ}", steam.ProductPrice)</h5>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>

                        }


                    }
                </div>

                <br />
                @*<h2>Bình nóng lạnh</h2>*@

                <div class=" row">
                    @foreach (var steam in Model)
                    {
                        if (steam.CategoryId == bottleId)
                        {

                            <div class=" col-sm-3">

                                <div class=" card my-3 text-center">
                                    <a asp-controller="Home" asp-action="Detail" asp-route-id="@steam.ProductId">
                                        <div class=" card">
                                            <div class=" card-header">
                                                <h6>@steam.ProductName</h6>
                                            </div>
                                            <img src="@Url.Content("~/images/"+ steam.Images.First().ImageName)" class="card-img-top" alt="Alternate Text" height="225" asp-append-version="true" />
                                            <div class=" card-footer">
                                                <h5 style="color: red">@String.Format(info, "{0:#,##0 đ}", steam.ProductPrice)</h5>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>

                        }


                    }
                </div>
            </div>
        </div>
    }
    else
    {
        <p>Không tìm thấy sản phẩm phù hợp</p>
        <a asp-controller="Home" asp-action=" Show" class="btn btn-success"> Trở về</a>
    }

</div>