@model List<Product>
@inject AppDbContext context
@{
    ViewBag.Title = "Trang chủ";
    const int fanId = 1;
    const int bottleId = 3;
    const int filterId = 2;
    var info = System.Globalization.CultureInfo.GetCultureInfo("vi-VN");
}

<div class="row my-3">
    <div class="col-lg-4 col-xl-3">

        <form asp-controller="Home" asp-action="LocSanPham" method="post" enctype="multipart/form-data" class="form-group">
            <div class="list-group-item">
                <h5 class="bg-secondary rounded text-light py-2 text-center">Lọc sản phẩm <i class="fas fa-search"></i></h5>
            </div>
            <div class="list-group-item">
                <select name="categoryId" class="custom-select form-control" id="categoryId">
                    <option>Chọn danh mục</option>

                    @foreach (var ctg in context.Categories)
                    {
                        <option value="@ctg.CategoryId">@ctg.CategoryName</option>
                    }

                </select>
            </div>
            <div class="list-group-item">
                <select name="brandId" class="custom-select form-control" id="brandId">
                    <option>Chọn thương hiệu</option>

                    @foreach (var brand in context.Brands)
                    {
                        <option value="@brand.BrandId">@brand.BrandName</option>
                    }

                </select>
            </div>

            <div class="list-group-item">
                <select name="price" class="custom-select form-control" id="priceId">
                    <option>Chọn mức giá</option>
                    <option value="1">Từ 1-4 triệu</option>
                    <option value="2">Từ 4-8 triệu</option>
                    <option value="3">Trên 8 triệu</option>


                </select>
            </div>
            <div class="list-group-item">
                <select name="sortByPrice" class="custom-select form-control" id="sortByPrice">
                    <option>Sắp xếp theo giá</option>
                    <option value="1">Tăng dần</option>
                    <option value="2">Giảm dần</option>
                </select>
            </div>
            <div class="list-group-item text-center">
                <input class="btn btn-primary" type="submit" value="Lọc sản phẩm" />
            </div>
        </form>
    </div>

    <div class="col-lg-8 col-xl-9">
        <div id="demo" class="carousel slide" data-ride="carousel">


            <ul class="carousel-indicators">
                @for (var i = 0; i < 4; i++)
                {
                    if (i == 0)
                    {
                        <li data-target="#demo" data-slide-to="@i" class="active"></li>
                    }
                    else
                    {
                        <li data-target="#demo" data-slide-to="@i"></li>
                    }
                }
            </ul>
            <div class="carousel-inner">


                <div class="carousel-item active">
                    <img src="~/images/anh/BANNER-zalo.jpg" style="height: 400px; max-width: 100%;">
                </div>

                <div class="carousel-item">
                    <img src="~/images/anh/BANNER-WEB-QUAT-LAM-MAT-87d997c6.png" style="height: 400px; max-width: 100%;">
                </div>
                <div class="carousel-item">
                    <img src="~/images/anh/banner-alaska-quat-lam-mat-02.jpg" style="height: 400px; max-width: 100%;">
                </div>
                <div class="carousel-item">
                    <img src="~/images/anh/banner-may-lam-mat-cao-cap-daikio.jpg" style="height: 400px; max-width: 100%;">
                </div>

            </div>


            <a class="carousel-control-prev" href="#demo" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next" href="#demo" data-slide="next">
                <span class="carousel-control-next-icon"></span>
            </a>
        </div>

    </div>
</div>






<div class="row ">
    <div class="col-12 bg-white">
        <button type="button" class="btn btn-primary btn-lg btn-block"><strong>Quạt hơi nước</strong></button>
        <div class=" row">
            @foreach (var steam in Model)
            {
                if (steam.CategoryId == fanId)
                {

                    <div class="col-md-4 col-lg-3 col-sm-6 col-xl-2 col-6 card-group">
                        <div class="card rounded my-3 bg-transparent py-2">
                            <a asp-controller="Home" asp-action="Detail" asp-route-id="@steam.ProductId">
                                @{ if (steam.Images.Count == 0)
                                    {
                                        <img src="~/images/anh/no-product-image-570x456.png" style="height: 150px; max-width: 90%;" class="mx-auto d-block">
                                    }
                                    else
                                    {
                                        <img src="@Url.Content("~/images/"+ steam.Images.First().ImageName)" alt="@steam.ProductName" style="height: 150px; max-width: 90%;" class="mx-auto d-block">
                                    }
                                }
                            </a>
                            <h6 class="card-body">
                                <a asp-controller="Home" asp-action="Detail" asp-route-id="@steam.ProductId" class="card-link">
                                    @steam.ProductName
                                </a>
                            </h6>
                            <h6 class="card-footer text-center text-danger bg-transparent">
                                @String.Format(info, "{0:#,##0 đ}", steam.ProductPrice)
                            </h6>
                        </div>
                    </div>
                }
            }
        </div>
        <br />
        <button type="button" class="btn btn-info btn-lg btn-block"><strong>Lọc nước</strong></button>
        <div class=" row">
            @foreach (var steam in Model)
            {
                if (steam.CategoryId == filterId)
                {


                    <div class="col-md-4 col-lg-3 col-sm-6 col-xl-2 col-6 card-group">
                        <div class="card rounded my-3 bg-transparent py-2">
                            <a asp-controller="Home" asp-action="Detail" asp-route-id="@steam.ProductId">
                                @{ if (steam.Images.Count == 0)
                                    {
                                        <img src="~/images/anh/no-product-image-570x456.png" style="height: 150px; max-width: 90%;" class="mx-auto d-block">
                                    }
                                    else
                                    {
                                        <img src="@Url.Content("~/images/"+ steam.Images.First().ImageName)" alt="@steam.ProductName" style="height: 150px; max-width: 90%;" class="mx-auto d-block">
                                    }
                                }
                            </a>
                            <h6 class="card-body">
                                <a asp-controller="Home" asp-action="Detail" asp-route-id="@steam.ProductId" class="card-link">
                                    @steam.ProductName
                                </a>
                            </h6>
                            <h6 class="card-footer text-center text-danger bg-transparent">
                                @String.Format(info, "{0:#,##0 đ}", steam.ProductPrice)
                            </h6>
                        </div>
                    </div>
                }
            }
        </div>

        <br />
        @*<h2 class=" text-success">Bình nóng lạnh</h2>*@
        <button type="button" class="btn btn-primary btn-lg btn-block"><strong>Máy nóng lạnh</strong></button>
        <div class=" row">
            @foreach (var steam in Model)
            {
                if (steam.CategoryId == bottleId)
                {

                    <div class="col-md-4 col-lg-3 col-sm-6 col-xl-2 col-6 card-group">
                        <div class="card rounded my-3 bg-transparent py-2">
                            <a asp-controller="Home" asp-action="Detail" asp-route-id="@steam.ProductId">
                                @{ if (steam.Images.Count == 0)
                                    {
                                        <img src="~/images/anh/no-product-image-570x456.png" style="height: 150px; max-width: 90%;" class="mx-auto d-block">
                                    }
                                    else
                                    {
                                        <img src="@Url.Content("~/images/"+ steam.Images.First().ImageName)" alt="@steam.ProductName" style="height: 150px; max-width: 90%;" class="mx-auto d-block">
                                    }
                                }
                            </a>
                            <h6 class="card-body">
                                <a asp-controller="Home" asp-action="Detail" asp-route-id="@steam.ProductId" class="card-link">
                                    @steam.ProductName
                                </a>
                            </h6>
                            <h6 class="card-footer text-center text-danger bg-transparent">
                                @String.Format(info, "{0:#,##0 đ}", steam.ProductPrice)
                            </h6>
                        </div>
                    </div>

                }


            }
        </div>
    </div>


</div>
